<a href="https://colab.research.google.com/github/jchaves1406/Machine-Learning/blob/main/TallerPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Universidad Sergio Arboleda**

**Fecha:** 09/02/2022

**Autor:** Jesús Chaves Acero

**Materia:** HPC-2

**Tema:** Introducción a pandas

In [1]:
# Biblioteca para la manipulación y analitica de datos
import pandas as pd

In [2]:
# Se crea un diccionario como DataSet de trabajo
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }
# Se crea el dataframe que contiene todas las caracteristicas y metodos de pandas
dfBrics = pd.DataFrame(dict)
# Se presentan los primeros 5 registros del dataSet
dfBrics.head()

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [7]:
# Se ingresan los indices al diccionario
dfBrics.index = ["BR", "RU", "IN", "CH", "SA"]

# Se imprime la informacion del dataframe con los indices del diccionario
print(dfBrics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [9]:
# Se crea un dataframe a partir de un archivo .csv
url = '/content/cars.csv'
dfCars = pd.read_csv(url)
# Se presentan los primeros 5 registros del dataSet
dfCars.head()

  Unnamed  cars_per_cap        country  drives_right
0      US           809  United States          True
1     AUS           731      Australia         False
2     JAP           588          Japan         False
3      IN            18          India         False
4      RU           200         Russia          True

#**1. Marcos de datos de indexación:**

Hay varias formas de indexar un Pandas DataFrame. Una de las formas más fáciles de hacer esto es usando la notación de corchetes.

En el siguiente ejemplo, puede usar corchetes para seleccionar una columna del carsDataFrame. Puede utilizar un solo soporte o un soporte doble. El soporte único generará una serie Pandas, mientras que un soporte doble generará un DataFrame de Pandas.

In [16]:
dfCars = pd.read_csv('cars.csv', index_col = 0)

# Imprimir la columna de Pais como serie Pandas
print(dfCars['cars_per_cap'])

# Imprimir la columna de pais como Pandas DataFrame
print(dfCars[['cars_per_cap']])

# Imprimir el DataFrame con el indice, ademas del Pais
print(dfCars[['cars_per_cap', 'country']])

Unnamed
US     809
AUS    731
JAP    588
IN      18
RU     200
MOR     70
EG      45
Name: cars_per_cap, dtype: int64
         cars_per_cap
Unnamed
US                809
AUS               731
JAP               588
IN                 18
RU                200
MOR                70
EG                 45
         cars_per_cap        country
Unnamed
US                809  United States
AUS               731      Australia
JAP               588          Japan
IN                 18          India
RU                200         Russia
MOR                70        Morocco
EG                 45          Egypt

**1.1** Los corchetes también se pueden usar para acceder a las observaciones (filas) de un DataFrame. Por ejemplo:

In [14]:
# Imprimir las 4 primeras posiciones
print(dfCars[0:4])

# Imprimir desde la 4ta hasta la 6ta posición
print(dfCars[4:6])

         cars_per_cap        country  drives_right
Unnamed
US                809  United States          True
AUS               731      Australia         False
JAP               588          Japan         False
IN                 18          India         False
         cars_per_cap  country  drives_right
Unnamed
RU                200   Russia          True
MOR                70  Morocco          True

**1.2** También puede usar **loc** y **iloc** para realizar prácticamente cualquier operación de selección de datos. **loc** se basa en etiquetas, lo que significa que debe especificar filas y columnas en función de sus etiquetas de fila y columna. **iloc** está basado en índices enteros, por lo que debe especificar filas y columnas por su índice entero como lo hizo en el ejercicio anterior.

In [15]:
# Imprimir la informacion de Japón
print(dfCars.iloc[2])

# Imprimir la informacion de Australia y Egipto
print(dfCars.loc[['AUS', 'EG']])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
         cars_per_cap    country  drives_right
Unnamed
AUS               731  Australia         False
EG                 45      Egypt          True